$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

.Bio {
  padding: 3rem;
}

.Bio__figure {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 3rem;
    padding: 2rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

.Bio__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
  padding-top: 2rem;
  font-size: 1.5rem;
  &::selection {
    background: var(--color-primary);
    color: white;
  }
}

.anchor {
  text-decoration: none;
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.box {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.2);
  padding: 2rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: var(--line);
  }

  &__description {
    color: var(--color-grey-light-2);
    font-size: 1.4rem;
    font-weight: 300;
    border-bottom: var(--color-grey-light-2);
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    margin: 2.4rem;
  }
}

.link {
  text-decoration: none;
}
